@import '../../assets/styles/screens.scss';
@import '../../assets/styles/mixins.scss';

@import '../../assets/styles/screens.scss';
@import '../../assets/styles/mixins.scss';

%padding-x {
  @include resp-prop(
    padding-left,
    $container-padding-x-max-px,
    $container-padding-x-min-px,
    $container-sum-px,
    $container-mobile-px
  );
  @include resp-prop(
    padding-right,
    $container-padding-x-max-px,
    $container-padding-x-min-px,
    $container-sum-px,
    $container-mobile-px
  );
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container_main {
  @extend %padding-x;
  max-width: var(--container-width);
}

.container_tablet {
  @extend %padding-x;
  max-width: var(--screen-tablet-768);

  @media screen and (min-width: calc($screen-tablet-768 + $container-padding-x-current-sum-px)) {
    padding-left: 0;
    padding-right: 0;
  }
}
