//# Fonts

//# Variables
//^ Font
$fontSize: 16px;
$fontFamily: sans-serif, 'Helvetica', system-ui;

//^ Template
$fontColor: black;
$bgColor: white;

:root {
  --primary-layout-color: #0284c7;
  --primary-font-color: white;
  --primary-decor-color: #a5f3fc;
}

//# Common Styles
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
  box-shadow:
    0 0 0 1px white,
    0 0 0 2px black;
}

//# Common Classes
._container {
  max-width: $px-contWidthSum;
  width: 100%;
  margin: 0 auto;
  padding: 0 $px-contPadWidth;
}
