*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  order: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  width: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
